.topbar{
  width: 100%;

  .container{
    display: flex;
    align-items: center;
  }

  .topbar-brand{
    color: #333;
    font-weight: bold;
    text-decoration: none;
  }

  .topbar-nav{
    .nav-item{
      .nav-link{
        color: #777;

        &:hover{
          color: #333;
        }
      }
    }
  }
}